Repository gyorilab/indra_cogex, pull requests merged in 2022-02, with the labels that each got.

#60 Add new decorator `autoclient`
  src/indra_cogex/client/enrichment/continuous.py
  src/indra_cogex/client/enrichment/discrete.py
  src/indra_cogex/client/enrichment/signed.py
  src/indra_cogex/client/enrichment/utils.py
  src/indra_cogex/client/neo4j_client.py
  src/indra_cogex/client/queries.py
  src/indra_cogex/client/subnetwork.py
  tests/test_autoclient.py
  tests/test_queries.py
Labels: client

#55 Add indexing client and module
  build_extra_indexes.sh
  deployment.md
  src/indra_cogex/client/neo4j_client.py
  src/indra_cogex/indexing/__init__.py
  src/indra_cogex/indexing/__main__.py
  src/indra_cogex/indexing/cli.py
  src/indra_cogex/sources/cbioportal/__init__.py
  src/indra_cogex/sources/chembl/__init__.py
  src/indra_cogex/sources/indra_db/__init__.py
  src/indra_cogex/sources/pubmed/__init__.py
Labels: client

#63 More queries
  src/indra_cogex/client/neo4j_client.py
  src/indra_cogex/client/queries.py
  tests/test_queries.py
Labels: client

#65 Evidence Count and Belief Filters
  src/indra_cogex/apps/gla/__init__.py
  src/indra_cogex/apps/gla/templates/continuous_results.html
  src/indra_cogex/client/enrichment/continuous.py
  src/indra_cogex/client/enrichment/discrete.py
  src/indra_cogex/client/enrichment/signed.py
  src/indra_cogex/client/enrichment/utils.py
Labels: web

#64 Enable analysis on human and mouse data in GSEA app
  src/indra_cogex/apps/gla/__init__.py
  src/indra_cogex/client/enrichment/continuous.py
  src/indra_cogex/client/enrichment/utils.py
  src/indra_cogex/client/queries.py
  src/indra_cogex/sources/__init__.py
  tox.ini
Labels: web

#76 Docs setup
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/license.rst
  docs/source/modules/apps/gla.rst
  docs/source/modules/apps/index.rst
  docs/source/modules/assembly/index.rst
  docs/source/modules/client/enrichment/continuous.rst
  docs/source/modules/client/enrichment/discrete.rst
  docs/source/modules/client/enrichment/index.rst
  docs/source/modules/client/enrichment/signed.rst
  docs/source/modules/client/enrichment/utils.rst
  docs/source/modules/client/index.rst
  docs/source/modules/client/neo4j_client.rst
  docs/source/modules/client/queries.rst
  docs/source/modules/client/subnetwork.rst
  docs/source/modules/index.rst
  docs/source/modules/indexing/cli.rst
  docs/source/modules/indexing/index.rst
  docs/source/modules/indexing/indexing.rst
  docs/source/modules/representation.rst
  docs/source/modules/sources/bgee.rst
  docs/source/modules/sources/cbioportal.rst
  docs/source/modules/sources/chembl.rst
  docs/source/modules/sources/clinicaltrials.rst
  docs/source/modules/sources/goa.rst
  docs/source/modules/sources/index.rst
  docs/source/modules/sources/indra_db.rst
  docs/source/modules/sources/indra_ontology.rst
  docs/source/modules/sources/odinson/client.rst
  docs/source/modules/sources/odinson/document.rst
  docs/source/modules/sources/odinson/grammars.rst
  docs/source/modules/sources/odinson/index.rst
  docs/source/modules/sources/pathways.rst
  docs/source/modules/sources/pubmed.rst
  docs/source/modules/sources/sider.rst
  docs/source/modules/sources/source_cli.rst
  docs/source/modules/sources/sources_processor.rst
  src/indra_cogex/apps/gla/__init__.py
  src/indra_cogex/assembly/__init__.py
  src/indra_cogex/client/enrichment/continuous.py
  src/indra_cogex/client/enrichment/discrete.py
  src/indra_cogex/client/enrichment/signed.py
  src/indra_cogex/client/neo4j_client.py
  src/indra_cogex/client/queries.py
  src/indra_cogex/representation.py
  src/indra_cogex/sources/bgee/__init__.py
Labels: documentation
